/* google fonts */
/* .noto-serif-font {
  font-family: "Noto Serif", serif;
  font-weight: 400;
} */

.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Noto Serif", "Inter", serif; */
}

body {
  background-color: #f5f8ff;
}

/* Common style */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-family: "Noto Serif";
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  margin-bottom: 20px;
}

/* header section */

/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.brand {
  /* height: 82px; */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 48px;
}

.nav-link {
  text-decoration: none;
  font-family: "Noto Serif";
  font-weight: 400;
  color: rgb(137, 135, 161);
  transition: all 0.4s ease-in-out;
}

.nav-item:first-child .nav-link {
  font-weight: 700;
  color: rgb(37, 36, 50);
}

.nav-item:last-child .nav-link {
  color: rgb(37, 36, 50);
}

.nav-item .nav-link:hover {
  color: rgb(233, 90, 8);
}
/* Cart icon */
.fa-cart-shopping {
  font-size: 1.2rem;
}

/* Banner section */
.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 18.5rem 0 7.5rem 0;
}

.banner-title {
  font-family: "Noto Serif";
  font-size: 4.06rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-title span,
.section-title span {
  color: rgb(233, 90, 8);
}

/* Plants section */
.plants {
  text-align: center;
  margin: 100px auto;
}

.plants .section-description {
  max-width: 75%;
  margin: auto;
  margin-bottom: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  /* width: 270px; */
}

.card img {
  width: 100%;
}

.card h3,
.card p {
  font-size: 1.375rem;
  color: rgb(17, 17, 17);
}

.card h3 {
  font-weight: 500;
  margin: 30px 0 20px;
}

.card p {
  font-weight: 700;
  margin-bottom: 30px;
}

.btn {
  color: #fff;
  font-family: "Inter";
  font-weight: 600;
  background-color: rgb(233, 90, 8);
  padding: 20px 50px;
  width: 100%;
  border: 2px solid rgb(233, 90, 8);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: transparent;
  color: rgb(233, 90, 8);
}

/* Plants lover section */
.plants-lover {
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 150px auto;
  padding-top: 80px;
}

.plants-lover-left {
  position: relative;
}

.flower-store {
  max-width: 100%;
  display: block;
}

.badge {
  position: absolute;
  background: transparent;
  width: 286px;
  height: 286px;
  right: -95px;
  top: -120px;
  filter: drop-shadow(-4px 10px 4px 0px rgba(0, 0, 0, 1));
}

.plants-lover-right {
  /* max-width: 540px; */
  max-width: 45%;
}

.plants-lover-right ul {
  padding-left: 35px;
}

/* Latest Deals section */

.latest-deals {
  text-align: center;
}

.latest-deals .section-description {
  max-width: 75%;
  margin: auto;
}

.plants-card-container {
  display: flex;
  gap: 20px;
  margin: 120px auto;
}

.deals-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-card,
.right-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.deals-right {
  height: 100%;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.dark-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.overtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  width: 100%;
}

.overtxt h3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Noto Serif";
}

.overtxt a {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  font-weight: 600;
  color: #fff;
}

.right-card .overtxt h3 {
  font-size: 2.5rem;
}

.right-card .overtxt a {
  font-size: 1.75rem;
}

/* Join section */

.join {
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-content {
  text-align: center;
}

.join-content h1 {
  font-size: 3.125rem;
  font-weight: 700;
  font-family: "Noto Serif";
  color: #fff;
  margin-bottom: 25px;
}

.input-container {
  display: flex;
}

input {
  width: 644px;
  padding-left: 20px;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
}
.input-container > .btn {
  width: 20%;
}

/* footer section */

.footer-content {
  margin: 50px auto;
  display: flex;
  gap: 110px;
  justify-content: space-between;
}

.footer-logo {
  flex: 1;
  max-width: 30%;
}

.footer-logo img {
  margin-bottom: 20px;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* justify-content: space-between; */
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  color: rgb(107, 114, 128);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.footer-links a:hover {
  color: rgb(233, 90, 8);
}

.icons {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
}
